html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html p {
  font-family: 'Roboto Slab', serif;
}
.content--title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Roboto Slab', serif;
}
.content--title img {
  margin-right: 1rem;
}
.content--title h4 {
  font-size: 18px;
}
.content--title h4 a {
  text-decoration: none;
  color: black;
}
.content--title h4 a:hover {
  color: royalblue;
}
.content--title h5 {
  font-size: 16px;
}
.content--title h5 a {
  text-decoration: none;
  color: #006eff;
}
.content--title h5 a:hover {
  color: #1539a7;
}
.content--text {
  width: 100%;
  display: flex;
  align-items: center;
}
.content--text-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.content--text img {
  margin-right: 1rem;
}
.content--text div {
  margin-right: 1rem;
}
.content--text p {
  font-size: 14px;
  width: 100%;
  text-align: justify;
}
.content--text p a {
  text-decoration: none;
  color: #006eff;
}
.content--text p a:hover {
  color: #1539a7;
}
.content--text ul {
  list-style-type: disc;
  width: 97%;
}
.content--text ul li {
  margin: 1rem 0;
}
.content--text ul li p {
  font-size: 14px;
  width: fit-content;
}
.content--text ul li p a {
  text-decoration: none;
  color: #006eff;
}
.content--text ul li p a:hover {
  color: #003ef8;
  text-decoration: underline;
}
.code {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}
.dropdown-button {
  border: 10px solid transparent;
  background: transparent;
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  margin: 0.5rem 0.5rem 0 0;
  border-top-color: black;
}
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 1rem auto;
  padding: 1rem;
  background: #fff;
}
.container-header--donations p {
  font-style: italic;
  text-align: justify;
  font-style: 18px;
}
.container-header--donations--block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container-header--donations-btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: black;
  width: fit-content;
  height: 100%;
}
.container-header--donations-btn:hover img {
  transform: rotate(360deg);
  transition: 0.5s;
}
.container-header--donations-btn img {
  transform: rotate(0deg);
  transition: 0.5s;
  margin: 0 1rem 0 0.2rem;
}
.container-header--donations form {
  display: flex;
  height: 100%;
  margin-top: 1rem;
}
.container-header--donations form p {
  color: black;
  font-style: normal;
  font-size: 20px;
  text-decoration-line: underline;
  margin-right: 0.5rem;
  cursor: default;
}
.container-header--donations form input[type="image"] {
  transform: scale(1, 1);
  transition: 0.5s;
}
.container-header--donations form input[type="image"]:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  filter: brightness(110%);
}
.container-header--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.container-header--title img {
  margin-right: 0.5rem;
}
.container-header--title h1 {
  font-family: 'Roboto Slab', serif;
}
.container-header--title p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
}
.container-header--search {
  margin-top: 1rem;
  width: 100%;
}
.container-header--search form {
  display: flex;
  align-items: center;
  width: 100%;
}
.container-header--search form p {
  font-size: 18px;
  margin: 0 1rem 0 0.2rem;
}
.container-header--search form input[type="text"] {
  width: 100%;
  font-size: 18px;
  padding: 0.3rem;
}
.container-header--search form input[type="submit"] {
  font-size: 18px;
  padding: 0.3rem;
  cursor: pointer;
}
.container-content {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-content--topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.container-content--topics .container-content--topics {
  margin: 0.5rem 0;
}
.container-content--topics--container {
  width: 35%;
  min-width: 35%;
  max-width: 35%;
  height: fit-content;
}
.container-content--article--container {
  width: 64%;
  min-width: 64%;
  max-width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-family: 'Roboto Slab', serif;
}
.container-content--article--container pre {
  align-self: center;
  white-space: pre-wrap;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}
.container-content--article--container p {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  text-align: justify;
  font-style: 18px;
  line-height: 1.5rem;
  margin: 1rem 0;
}
.container-content--article--container .code-sample {
  background: #ececec;
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
}
.container-content--article--container h3 {
  margin: 1rem 0;
}
.container-footer {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container-footer p {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  text-align: justify;
  font-style: 18px;
  margin: 1rem 0;
}
